<div class="form-group">
    <%= form_with model: @todo, local: true do |f| %>
        <div>
            <%= f.label :description, "Description" %>
            <%= f.text_field :description, class: 'form-control' %>
        </div>
        
        <div>
            <%= f.submit "Enviar", disable_with: 'Submiting...' %>
        </div>
    <% end %>
</div>