<h1>Details To do </h1>
<div class="row">
    <table>
        <tr>
            <td>Description :</td>
            <td><%= @todo.description %></td>
        </tr>
        <tr>
            <td>Completed: </td>
            <td><%= @todo.completed ? 'Si': 'No' %></td>
        </tr>
    </table>
</div>
